.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
.MuiTablePagination-selectLabel,.MuiTablePagination-displayedRows{
  margin-bottom: 0;
}

.MuiDataGrid-columnHeaders{
  background: rgba(88, 15, 139, 0.08);
  color: #333;
}

.MuiDataGrid-columnHeaders .MuiSvgIcon-root {
  color: #580f8b;
}

// Religning MUI checkbox in the header
.MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainerContent {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}