.canvas-control-button {
    border: none;
}

.roi-button {
    border: none;
}

.roi-information {
    display: flex;
    align-items: center;
}

.ant-space {
    display: flex;
}

.action-button {
    border: none;
    background: transparent;
    background-color: transparent;
}
