.lil-gui {
  --background-color: #ffffff;
  --text-color: #3d3d3d;
  --title-background-color: #333;
  --title-text-color: #fff;
  --widget-color: #f0f0f0;
  --hover-color: #f0f0f0;
  --focus-color: #fafafa;
  --number-color: #000000;
  --string-color: #8da300;
  --width: '100%';
}

.lil-gui .controller > .name{
  font-size:12pt;
}
.lil-gui .title {
  font-size:14pt;
  display: flex;
  align-items: center;
  padding-left: 5pt;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  font-weight: normal;
  height: 28pt;
}
