.cmr-checkbox {
    margin-bottom: 4px;
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 15px;
        text-align: justify;
        color: #707683;
    }
}
