.cmr-label {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    color: #707683;
    padding-right: 10px;
}

.asterik {
    color: red !important;
    margin-left: 4px;
}
